body{
	background-color:rgba(10, 0, 94, 0.76);
}

#main-container{
	position:relative;
	top:50px;
	width:70%;
	margin:auto;
	outline-style:dotted;
}

#instructions{
	width:60%;
	font-size:1.5em;
	margin:auto;
}

label{
	font-size:20px;
}

li{
    display:inline-block;
	text-align:center;
}

nav{
	width:60%;
	margin:auto;
}
.circle-freq-text{
	position:relative;
    text-align:center;
}

.osc-box{
    display:inline;
}

.delete-osc {
    position: relative;
    background-color: grey;
    opacity: 0.5;
    width: 20px;
    bottom: 33px;
    text-align: center;
    left: 60px;
    height: 20px;
    border-radius: 50%;
    border-style: solid;
}
input{
	  /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 200px;
    padding: 10px;
    margin: 0 auto;

    /* Styles */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}



select{
	  /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 200px;
    padding: 10px;
    margin: 0 auto;

    /* Styles */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}

