body{
	background-color: #CDA34F;
	/*#373F27;*/
	font-family: 'Playfair Display', sans-serif;
	color: #373F27;
}

row #mainheader {
	font-family: 'Montserrat';
	font-size: 800;
	color: #636B46;
}

.row .col-md-12 .subheader {
	font-family: 'Montserrat';
	font-size: 600;
	font-style: italic;
	color: #636B46;
}
.small{
	color: #636B46;
}


.navbar{
	background-color: #E9E7DA;
	border-color: #E9E7DA;
}

.navbar-inverse .navbar-nav>li>a{
	color: #373F27;
}

.navbar-inverse .navbar-toggle{
	border-color: #E9E7DA;
}
.portfolio-space{
	margin-bottom:50px;
}


.subheader{
	font-size: 30px;
}


.main .sum,
.main, .info{
text-align: center;
}