#map{
	height: 400px;
	width: 70%;
	float: left;
}

#restaurant{
	height: 400px;
	width: 28%;
	outline: 10px solid red;
	float: right;
}

.restaurant_1{
	height: 200px;
	width: auto;
	background-color: pink;
}