body{
	background-color:#100136;
	color:#ffffffc7;
	font-size:2em;

}

.background-image{

	top:-50px;
	opacity:0.08;
	position:absolute;
	height:2600px;
	width:100%;
	 background-image: url("../images/background.jpg");
	   background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

code { 
	position:absolute;
	left:26%;
	margin: 0 auto;
    background-color: transparent;
    display: block;
    color: rgba(9, 255, 45, 0.14);
    font-size: 1.6em;
    opacity:0.3;
}


.item-text-container{
	margin:0 auto;
	width:70%;
}


.portfolio-space{
	margin-bottom:50px;
}


.subheader{
	font-size: 30px;
	color:#4ca498;
}

.jumbotron{

	outline-width:1px;
	background-color:#0000;

	color:#ffffffc7;

}


.img-responsive{
	outline-style:solid;
	outline-color:#d100ae;
	outline-width:1px;
	width:70%;
	margin: 0 auto;
}

portfolio-item > h3{

}
portfolio-item > p{

}

.contact-info{
	font-size:20px;
}

.navbar {
	background-color:white;
	
}

.nav li a{
	color:#4ca498;;
}

a{
	color:#4ca498;;
}

.jumbotron h1{
	font-size:130px;
}




.navbar-inverse .navbar-nav>li>a{
	background-color:white;
}